<html>
    <body style="background-color: lightseagreen">
    <div class="flex-container"> 
        <header>
            <h1>History Quiz</h1>
        </header>
    <textarea ng-model="MyTextarea"></textarea>
    </div>
        <div class="two-col">
                <div class="col1">
                    <label for="time">time</label>
                </div>
            <div class="row">
            </div>
            <div class="col2">
                <label for="number">No</label>
            </div>  
        </div>
    </body>
</html>

