<div class='col-sm-6'>
 
    <label style="background-color: #EAE7DC"> suuuuuuuuuuuuuuuuuuuuper long Question ????????????????? ????????????? ??????????? ??????????? ay??????????</label>
     
        <div class="two-col">
     
            <div class="col1">
                <label for="time">time</label>
            </div>
     
            <div class="row"></div>
     
            <div class="col2">
                <label for="number">No</label>
            </div>  
     
        </div>
     
    </div>
     
    <div class='col-sm-2'></div>

