<div id="grad1">
 
  <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Login</h2>
   
   
  <div class="grid-container">
      <div class="text-center">
        <div class="form-group">
          <div class="grid-item"></div>
        </div>
      </div>
    </div>
   
  <div class="col-sm-8" *ngIf="!authService.getUser()">
   
   
   
    <div class="imgcontainer">
    <img src="assets/images/login.jpg" alt="Avatar" class="login">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="message">
    {{ message }}
    </div>
    <form class="form-inline" (ngSubmit)="onSubmit()" #LoginForm="ngForm">
          <div class="container">
           
            <label for="username" ><b>Username</b></label>
            <input class="form-control" placeholder="Enter Email" id="userEmail" required [(ngModel)]="model.userEmail" name="userEmail" #userEmail="ngModel">
          </div>
   
          <div class="container">
            <label for="userPassword" ><b>Password</b></label>
            <input class="form-control" id="userPassword" required [(ngModel)]="model.userPassword" name="userPassword" #userPassword="ngModel">
          </div>
       
      <button type="submit" class="btn btn-success"  (click)="loginBeta(model)">Log in</button>
    </form>
  </div>
   
   
    <div class="well" *ngIf="authService.getUser()">
      Logged in as <b>{{ authService.getUser() }}</b>
    </div>
   
  </div>

